################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PC-Store/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
